/*  Welcome to the CSS file! 
    You can make changes here to modify the look of your app.
    Run the development application, open it in the browser, save changes and see them in immediately. 
*/

/** HTML ELEMENTS **/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    line-height: 26px;
    padding: 6px 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    color: darkslategrey;
    background-color: #fff;
    margin: 20px auto 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #2f4f4f;
    cursor: pointer;
    transform: scale(1.05);
    color: #fff;
}


/** CUSTOM CLASSES **/
.header {
    display: flex;
    justify-content: space-between; /* Keep the logo imagr on left side of the screen and menu items on right */
    align-items: center;
    max-width: 1000px; /* Limiting the maximum width of the header */
    margin-inline: auto; /* Centering the header horizontally */
    padding-inline: 10px;
}

.logo-container {
    display: flex;
    align-items: center; /* Centering the logo image vertically */
}

.logo {
    width: 50px;
    height: 50px;
}

.nav-list {
    display: flex; /* Making the nav-list appear horizontal */
}

.nav-list > li {
    list-style: none;
    margin-left: 20px;
}

.nav-list > li > a, .mob-nav-list > li > a{
    text-decoration: none;
    color: #2f4f4f;
}

.mobile-nav-button {
    display: none;
}

.mob-nav-list-container {
    position: absolute;
    top: 30px; 
    width: 100%;
    text-align: center;
    z-index: 1;
}

.mob-nav-list {
    padding: 0;
    background-color: #fff; /* Adjust the background color as needed */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    width: 60%;
    margin-inline: auto;
}

.mob-nav-list > li {
    list-style: none;
    padding-block: 15px;
}

.sheSharp {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #2f4f4f;
    display: flex;
    justify-content: center;
}

.styledData {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #2f4f4f;
    display: flex;
    justify-content: center;
}

.container {
    border-radius: 20px;
    border-color: #2f4f4f;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    width: 30%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 40px;
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.1);

}

@media (max-width: 768px) {
    .mobile-nav-button {
      display: block;
      cursor: pointer;
    }
    .nav-list {
        display: none;
    }
  }

  
  
  
  
  